body {
  margin: 0;
  padding: 100 100;
  font-family: sans-serif;
  background: white;
  background-size: 90% auto;

}

table{
  border-collapse:separate;
  border:solid black 2.5px;
  border-radius:6px;
  -moz-border-radius:6px;
  background: white;
}

td, th {
  border-left:solid black 1px;
  border-top:solid black 1px;
}

th{
  border-top: none;
}

.arrows {
  position: relative;
  float: right;
  padding-right: 5px;
}

.numbers {
  text-align: right;
}

.table_buttons {
  background-color: white;
  border: none;
}

.input_buttons {
  background-color: #2db300;
  border: none;
}

.remove_buttons{
  background-color: #ff704d;
  border: none;
  margin-bottom: 10px;
}

.add_coin {
  text-align: center
}

.centerTable { margin: 0px auto; }

.background{
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: 50% 0%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0;
}

h2{
  color:rgb(192, 231, 16);
}

.input_twitter {
  padding-top: 25px;
  padding-bottom: 10px;
}

.name {
  text-align: left;
}

.input{
  text-align: center;
}